[submodule "Arduino/libraries/AccelStepper"]
	path = Arduino/libraries/AccelStepper
	url = https://github.com/waspinator/AccelStepper.git
[submodule "Arduino/libraries/Bounce2"]
	path = Arduino/libraries/Bounce2
	url = https://github.com/thomasfredericks/Bounce2.git
[submodule "Arduino/libraries/FastLED"]
	path = Arduino/libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "Arduino/libraries/SX1509"]
	path = Arduino/libraries/SX1509
	url = https://github.com/sparkfun/SparkFun_SX1509_Arduino_Library.git
[submodule "Python/simpleRPC"]
	path = Python/simpleRPC
	url = https://github.com/jfjlaros/simpleRPC.git
[submodule "Arduino/libraries/arduino-fsm"]
	path = Arduino/libraries/arduino-fsm
	url = https://github.com/jonblack/arduino-fsm.git
[submodule "Arduino/libraries/Flash"]
	path = Arduino/libraries/Flash
	url = https://github.com/schinken/Flash.git
[submodule "Arduino/libraries/WiFiManager"]
	path = Arduino/libraries/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "Arduino/libraries/PacketSerial"]
	path = Arduino/libraries/PacketSerial
	url = https://github.com/bakercp/PacketSerial.git
[submodule "ESP/esptool"]
	path = ESP/esptool
	url = https://github.com/themadinventor/esptool.git
[submodule "Arduino/libraries/CmdMessenger"]
	path = Arduino/libraries/CmdMessenger
	url = https://github.com/thijse/Arduino-CmdMessenger.git
[submodule "Python/PyCmdMessanger"]
	path = Python/PyCmdMessanger
	url = https://github.com/zlite/PyCmdMessenger.git
[submodule "Arduino/libraries/jled"]
	path = Arduino/libraries/jled
	url = https://github.com/jandelgado/jled.git
[submodule "Arduino/libraries/EnableInterrupt"]
	path = Arduino/libraries/EnableInterrupt
	url = https://github.com/GreyGnome/EnableInterrupt.git
[submodule "Arduino/libraries/kEvent"]
	path = Arduino/libraries/kEvent
	url = https://github.com/KeirRice/kEvent.git
[submodule "Arduino/libraries/kEncoder"]
	path = Arduino/libraries/kEncoder
	url = https://github.com/KeirRice/kEncoder.git
