[submodule "Arduino/libraries/AccelStepper"]
	path = Arduino/libraries/AccelStepper
	url = https://github.com/waspinator/AccelStepper.git
[submodule "Arduino/libraries/Bounce2"]
	path = Arduino/libraries/Bounce2
	url = https://github.com/thomasfredericks/Bounce2.git
[submodule "Arduino/libraries/FastLED"]
	path = Arduino/libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "Arduino/libraries/SX1509"]
	path = Arduino/libraries/SX1509
	url = https://github.com/sparkfun/SparkFun_SX1509_Arduino_Library.git
[submodule "Python/simpleRPC"]
	path = Python/simpleRPC
	url = https://github.com/jfjlaros/simpleRPC.git
